 
 <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <!--/* This template is free as long as you keep the attribution link below. Thank you for your support. :) If you'd like to use the template without the attribution, you can buy the commercial license via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <span class="sr-only">love</span><i class="fas fa-heart"></i> by <a href="https://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="{{ 'assets/plugins/popper.min.js' | relative_url }}"></script> 
    <script type="text/javascript" src="{{ 'assets/plugins/bootstrap/js/bootstrap.min.js' | relative_url }}"></script>    
    <script type="text/javascript" src="{{ 'assets/plugins/dark-mode-switch/dark-mode-switch.min.js' | relative_url }}"></script> 
    <!-- github calendar plugin -->
    <script type="text/javascript" src="{{ 'assets/plugins/github-calendar/dist/github-calendar.min.js' | relative_url }}"></script>    
    <!-- github activity plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="{{ 'assets/plugins/github-activity/src/github-activity.js' | relative_url }}"></script>
    <!-- custom js -->
    <script type="text/javascript" src="{{ 'assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            callFeed();
        }, false);

        function callFeed() {
            fetch("https://icreated.co/feed.xml")
                .then(response => response.text())
                .then(str => new window.DOMParser().parseFromString(str, "text/xml"))
                .then(data => {
                    const items = data.querySelectorAll("entry");
                    let html = ``;
                    items.forEach(el => {
                        html += `
                        <li class="item"><a href="${el.querySelector("[href]").getAttribute("href")}" target="_blank"><i class="fas fa-external-link-alt"></i>&nbsp;  ${el.querySelector("title").innerHTML}</a><li>
                        `;
                        });   
                        document.querySelector("#rss-feeds").innerHTML = html;                
                })
        }

    </script>
</body>
</html> 