<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
    <title>{{ site.title }}</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">    
    <link rel="shortcut icon" href="{{ 'favicon.ico?v=' | append: site.github.build_revision | relative_url }}">  
    
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    
    <!-- FontAwesome JS -->
    <script defer src="{{ 'assets/fontawesome/js/all.js?v=' | append: site.github.build_revision | relative_url }}"></script>

    <!-- Global CSS -->
    <link async rel="stylesheet" href="{{ '/assets/plugins/bootstrap/css/bootstrap.min.css?v=' | append: site.github.build_revision | relative_url }}">  
    
    <!-- github calendar css -->
    <link rel="stylesheet" href="{{ 'assets/plugins/github-calendar/dist/github-calendar-responsive.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- github activity css -->  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">  
    <link async rel="stylesheet" href="{{ 'assets/plugins/github-activity/src/github-activity.css?v=' | append: site.github.build_revision | relative_url }}">

    <!-- Theme CSS -->  
    <link id="theme-style" async rel="stylesheet" href="{{ 'assets/css/styles.css?v=' | append: site.github.build_revision | relative_url }}">  
    <link id="custom-style" async rel="stylesheet" href="{{ 'assets/css/custom.css?v=' | append: site.github.build_revision | relative_url }}">  
    {% seo %}
    {% include head-custom-google-analytics.html %}
    </head>
  
    <body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">     
	        <div class="row align-items-center">
			    <div class="col">
                    <a href="{{ '/' | absolute_url }}">
                        <img class="profile-image img-fluid float-md-start float-end mb-3 mb-md-0 me-md-5 ms-md-0 rounded-circle shadow-sm" src="{{ 'assets/images/profile.avif?v=' | append: site.github.build_revision | relative_url }}" alt="profile image" />
                    </a>      
		            <div class="profile-content">
		                <h1 class="name"><span class="integral">GM-Dev</span></h1>
		                <h2 class="desc">{{ site.header.description }}</h2>   
		                <ul class="social list-inline">
                            {% if site.social.github %}
                            <li class="list-inline-item">
                                <a title="{{ site.social.github }} on Github"
                                    href="https://github.com/{{ site.social.github }}"
                                    target="_blank"><i class="fab fa-github fa-2x"></i></a>
                            </li>
                            {% endif %}
                        
                            {% if site.social.linkedin %}
                            <li class="list-inline-item">
                                <a title="{{ site.social.linkedin }} on LinkedIn"
                                    href="https://www.linkedin.com/in/{{ site.social.linkedin }}/"
                                    target="_blank"><i class="fab fa-linkedin fa-2x"></i></a>
                            </li>
                            {% endif %}
                        
                            {% if site.social.stackoverflow %}
                            <li class="list-inline-item">
                                <a title="{{ site.social.stackoverflow }} on StackOverflow"
                                    href="http://stackoverflow.com/users/2695723/{{ site.social.stackoverflow }}"
                                    target="_blank"><i class="fab fa-stack-overflow fa-2x"></i></a>
                            </li>
                            {% endif %}
                        
                            {% if site.social.credly %}
                            <li class="list-inline-item">
                                <a title="{{ site.social.credly }} on Credly"
                                    href="https://credly.com/users/{{ site.social.credly }}"
                                    target="_blank"><i class="fa fa-id-badge fa-2x"></i></a>
                            </li>
                            {% endif %}
                            {% if site.social.youtube %}
                            <li class="list-inline-item">
                                <a title="{{ site.social.youtube }} on YouTube"
                                    href="https://www.youtube.com/@{{ site.social.youtube }}"
                                    target="_blank"><i class="fab fa-youtube fa-2x"></i></a>    
                            </li>
                            {% endif %}                                                                   
		                </ul> 
		            </div><!--//profile-->
			    </div><!--//col-->
	            <div class="col-12 col-md-auto">
		            <div class="dark-mode-switch d-flex">
						<div class="form-check form-switch mx-auto mx-md-0">
							<input type="checkbox" class="form-check-input me-2" id="darkSwitch" />
							<label class="custom-control-label" for="darkSwitch">Dark Mode</label>
						</div>
			        </div><!--//dark-mode-switch-->

	                <a class="btn btn-cta-primary" href="{{ site.baseurl }}{% link contact.html %}"><i class="fas fa-paper-plane"></i> Me contacter</a>
 
	            </div><!--//col-->
	        </div><!--//row-->         
        </div><!--//container-->
    </header><!--//header-->


  
