<aside class="info aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading sr-only">Basic Information</h2>
        <div class="content">
            <ul class="list-unstyled">
                <li><i class="fas fa-map-marker-alt"></i><span class="sr-only">Location:</span>{{ site.GM-Dev.location }}</li>
                <li><i class="fas fa-link"></i><span class="sr-only">{{ site.GM-Dev.links.blog.title }}:</span><a href="{{ site.GM-Dev.links.blog.url }}">{{ site.GM-Dev.links.blog.url }}</a></li>
            </ul>
        </div><!--//content-->  
    </div><!--//section-inner-->                 
</aside><!--//aside-->

{% assign testimonials = site.testimonials | where: 'status', 'published' %}
{% if testimonials.size > 0 %}                
<aside class="testimonials aside section">
    <div class="section-inner shadow-sm rounded">
        <h2 class="heading">Testimonials</h2>
        <div class="content">
            {% for testimonial in testimonials %}                 
            <div class="item">
                <blockquote class="quote">                                  
                    <p><i class="fas fa-quote-left"></i>{{ testimonial.content }}</p>
                </blockquote>                
                <p class="source"><span class="name">{{ testimonial.name }}</span><br /><span class="title">{{ testimonial.company }}</span></p>                                                             
            </div>
            {% endfor %}
            <p><a class="more-link" href="#"><i class="fas fa-external-link-alt"></i>More on Linkedin</a></p> 
        </div>
    </div>
</aside>
{% endif %}





